ul {
    list-style-type: none;
    margin: 90px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #007f00;
}

.active {
    background-color: #4CAF50;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
display: block;
    color: white;
    text-align: left;
    padding: 0;
	margin-left: 90px;
    text-decoration: none;
	background-color: #333;
	font-family: Garamond;
	font-size: 30px;
	}
	
	h1 {
	 position: fixed;
    top: 0;
    width: 100%;
	}
	
	#about {
	float: left;
	margin-left: 90px;
	font-family: Garamond;
	margin-top: 150px;
	font-size: 30px;
	color: #333;
	}
	
	#aboutp {
	float: left;
	font-family: Garamond;
	margin-top: 220px;
	color: #333;
	margin-left: -78px;
	font-size: 20px;
	}
	img {
	margin-top: 170px;
	margin-left: 80px;
	}
	
	#search {
	float: center;
	margin-left: 300px;
	margin-top: 15px;
	}
	

.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#333;
}

#barnum	{
width: 300px;
height: 200px;
margin-left: 250px;
margin-top:180px;
border-radius: 25px;
}

#firstheadline {
margin-left: 600px;
margin-top: -200px;
font-family: Garamond;
color: #333;
}

#firstcaption {
margin-left: 600px;
margin-top: 0px;
font-family: Garamond;
color: #333;
font-size: 18px;
}
#bigheadline	{
margin-top: 200px;
margin-left: 300px;
font-family: Garamond;
color: #333;
font-size: 30px;
}

#firstparagraph {
margin-left:100px;
margin-right:100px;
font-family: Garamond;
color: #333;
font-size: 18px;
}

#zodiac {
margin-top: 0px;
}
